@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
  border: 1px solid #6c757d;
}
.navbar-toggler {
  border: none;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.focus-secondary:focus,
.focus-secondary:active {
  background: #6c757d;
}

.btn-close:focus,
.btn-close:active {
  box-shadow: none;
}

.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}

.btn-close {
}
